/dts-v1/;  // Device Tree 버전 명시

#include "nice_nano.dtsi"  // 필요한 .dtsi 파일 포함
#include <dt-bindings/zmk/trackball_pim447.h>

/ {
    compatible = "nice,nano-v2";  // 보드 이름
    model = "Corne Keyboard";

    // PWM 설정
    pwm0 {
        status = "okay";
        pinctrl-0 = <&pwm0_default>;
        pinctrl-1 = <&pwm0_sleep>;
        pinctrl-names = "default", "sleep";
    };

    // 백라이트 설정
    backlight: pwmleds {
        compatible = "pwm-leds";
        pwm_led_0 {
            pwms = <&pwm0 0 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
        };
    };

    // 선택된 노드
    chosen {
        zmk,backlight = &backlight;
    };

    // I2C 버스 설정
    #include "corne.dtsi"
    #include <dt-bindings/zmk/trackball_pim447.h> // for PIM447_MOVE and PIM447_SCROLL constants

    &pro_micro_i2c {
	status = "okay";

	oled: ssd1306@3c {
            compatible = "solomon,ssd1306fb";
            reg = <0x3c>;
            width = <128>;
            height = <32>;
            segment-offset = <0>;
            page-offset = <0>;
            display-offset = <0>;
            multiplex-ratio = <31>;
            segment-remap;
            com-invdir;
            com-sequential;
            inversion-on;
            prechargep = <0x22>;
    	};
        
        trackball_pim447@a {
	    compatible = "pimoroni,trackball_pim447";
	    reg = <0xa>;
	    label = "TRACKBALL_PIM447";
            move-factor = <2>;  // 포인터 속도 증가 (기본값: 1)
            invert-move-x;  // X 축 반전
            invert-move-y;  // Y 축 반전
            button = <1>;  // 볼을 눌렀을 때 오른쪽 클릭 전송
            swap-axes;  // X 및 Y 축 교환
            scroll-divisor = <1>;  // 휠 속도 증가 (기본값: 2)
            invert-scroll-x;  // 휠 X 축 반전
            invert-scroll-y;  // 휠 Y 축 반전
            mode = <PIM447_SCROLL>; // 시작 시 마우스 휠로 작동
	      };
     };
};
